@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Outfit;
    scroll-behavior: smooth;
}

button, input {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}

html {
    background: #DDD6C5;
}

.app {
    width: 80%;
    margin: auto;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width:600px) {
    .chat_icon {
        right: 20px;
        bottom: 20px;
        height: 30px;
        width: 30px;
    }

    .chatting {
        width: 80vw;
        right: 20px;
        bottom: 60px;
    }
}